<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>datails</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/datails.css">
</head>
<body>
    <div id="top">
        <div class="margin clear">
            <ul>
                <li><a href="#">登陆  注册</a><span>|</span></li>
                <li><a href="#">帮助中心</a><span>|</span></li>
                <li><a href="#"><span class = "icons icons-app"></span>下载App</a><span>|</span></li>
                <li><a href="#">资质证照 / 协议规则<span class = "icons change"></span></a></li>
            </ul>
        </div>
    </div>
    
    <div id ="header" >
        <div class = "margin clear">
            <div class="logo"></div>
            <ul>
                <li><a href="#">限时抢购</a></li>
                <li><a href="#">星品驾到</a></li>
            </ul>
            <div class="search">
                <a href="#" class="icons icons-search"></a>
                <input type="text" class="search-input" placeholder="有品心动卡" />
            </div>
            <div class="car">
                <a href="#" class="icons icons-car"></a>
            </div>
        </div>
    </div>

    <div class = "datails">
        <div class = "margin container clear">
            <div class = "top">
                <div class = "banner">
                    <div class = "main">
                        <img src="../images/sound.jpeg">
                    </div>
                    <div class = "thu">
                        <div class = "thu-container">
                            <div class = "thu-pic">
                                <img src="../images/sound1.jpeg">
                            </div>   
                            <div class = "thu-pic">
                                <img src="../images/sound.jpeg">
                            </div>   
                            <div class = "thu-pic">
                                <img src="../images/sound1.jpeg">
                            </div>   
                            <div class = "thu-pic">
                                <img src="../images/sound2.jpeg">
                            </div>   
                            <div class = "thu-pic">
                                <img src="../images/sound1.jpeg">
                            </div>   
                        </div>
                    </div>
                </div>
                <div class = "sku">
                    <div class = "name">
                        <div class = "goods-name">小米小爱音箱HD</div>
                    </div>
                    <div class = "summary">360°全向音效，澎湃低音，精准拾音，小爱智能语音交互</div>

                    <div class = "promotion-box">
                        <p class = "tit">促销</p>
                        <span class = "gift">买赠</span>
                        <span class = "text">小米超级流量卡【赠完为止】</span>
                    </div>

                    <div class = "car">
                        <div class = "price">
                            <h5 class = "pri-title">售价</h5>
                            <div class = "pri-details">
                                <span class = "money">￥</span> 
                                <span class = "value">569</span> 
                                <span class = "market-price">￥599</span> 
                                <span class = "sale">直降300元</span> 
                            </div>
                        </div>
                        <div class = "serve clear">
                            <h5 class = "ser">服务</h5>
                            <p class = "icons t-icons">!</p>
                            <div class = "ser-box">
                                <div class = "server-items">
                                    <a href="#"class = "icons ser-icon"></a>
                                    <span class = "server-items-text">满150包邮</span>
                                </div>
                                <div class = "server-items">
                                    <a href="#"class = "icons ser-icon"></a>
                                    <span class = "server-items-text">小米自营</span>
                                </div>
                                <div class = "server-items">
                                    <a href="#"class = "icons ser-icon"></a>
                                    <span class = "server-items-text">七天无理由</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "address-line clear">
                        <h5 class = "distribution">配送区域</h5>
                        <div class = "address">
                            <span>北京 北京市 海淀区</span>
                            <span>&nbsp</span>
                            <a href="#">修改</a>
                        </div>
                    </div>

                    <div class = "size-line">
                        <h5 class = "sku-title">颜色</h5>
                        <div class = "size-container">
                            <div class = "tag-item-onSaled">深灰色</div>
                            <div class = "tag-item-onSaled">浅灰色</div>
                        </div>


                    </div>

                    <div class = "count-line">
                        <h5 class = "count-title">数量</h5>
                        <div class = "box">
                            <div class = "minus-btn">
                                <a href="#" class = "icons icons-reduce"></a>
                            </div>
                            <input type="text" value = "1" class = "count-input">
                            <div class = "minus-btn-active">
                                <a href="#" class = "icons icons-add"></a>
                            </div>  
                        </div>


                    </div>

                    <div class = "btn-line">
                        <div class = "buy-btn-container">
                            <a href="#" class = "m-btns">加入购物车</a>
                        </div>
                        <div class = "favor-btn ">
                            <div>
                                <a href="#" class = "icons btn-icons"></a>
                                <p>收藏</p>
                            </div>
                        </div>
                        <div class = "faver-service-btn">
                            <div>
                                <a href="#" class = "icons btn-icons"></a>
                                <p>客服</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>  
            
            <div class = "content">
                <div class = "margin clear">
                    <div class = "info-l">
                        <div class = "nav-title">
                            <ul class = "info-nav">
                                <li class = "info-nav-item">概述</li>
                                <li class = "info-nav-item">评论</li>
                                <li class = "info-nav-item">参数</li>
                            </ul>
                            <div class = "nav-arr-container">
                                <div class = "nav-arr"></div>
                            </div>
                        </div>
                        <div class = "main-body">
                            <div>
                                <img src="https://img.youpin.mi-img.com/manage/be10fc5f9e57973db56216cf6f22c68c.jpeg?w=1080&h=885">
                                <img src="https://img.youpin.mi-img.com/manage/785a3230acfb9584353f88bdbd98de19.gif?w=1080&h=884&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/4116cc6e1e5d88b4a5bf22a8536e3d45.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/a04e21896e01e5591547592cca487c94.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/6863067a007d00101ef2a18804f62f5a.gif?w=1080&h=884&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/a34bf908d33545c981960dda0f4642b2.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/f584e020a434dc2fbee2f00efd8c7d15.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/1dc88d8ba9f461fea41197ffaba13a84.gif?w=1080&h=884&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/f31feaee19dcb13558bc180981a748d5.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/3761dcde5e5d8ce6b5f8081b947f78f1.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/9b906802ac4a4f23a9effe353a742124.gif?w=1080&h=884&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/ab76ab3de13a0b44bfccd963a4dc40b1.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/5e3fbf293cc7ed55645230b2355ff831.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/c1f23158b8f59a6b258d9b51d507cf4a.gif?w=1080&h=884&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/9c761df51462b22d0570c139d12ebf11.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/750743ffb2708779ab0df6d6c6bf27e6.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/manage/ccb28bda91d76280460f2d6f774782f5.gif?w=1080&h=885&t=raw&t=raw">
                                <img src="https://img.youpin.mi-img.com/editor1/34d9309abc25227d26891dddcdf946d0.png?w=1080&h=510">
                            </div>
                        </div>
                    </div>


                    <div class = "info-r">
                        <div class = "flagship">
                            <div class = "icon-info">
                                <img src="http://static.home.mi.com/app/shop/img?id=shop_72bacf474dfad998341d995c6fcb9db1.jpg&t=jpeg">
                                <div class = "title-container">
                                    <h6>小米自营产品</h6>
                                    <p>为发烧而生</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h2 class = "recommend-title">
                                <span class = "special-line"></span>
                                相关推荐
                                <span class = "special-line"></span>
                            </h2>
                            
                            <div class = "best-product">
                                <div class = "image-container">
                                    <div class = "img-container">
                                        <img src="https://img.youpin.mi-img.com/800_pic/9b72eeb1d1cd146cc3d03e9ef86a8ac8.png">
                                    </div>
                                    <p>小巧便携，长久续航，防水设计</p>
                                    <h5>索尼 SRS-XB10无线蓝牙音箱</h5>
                                    <h4>
                                        <span class = "dollar">￥</span>
                                        <span class = "price">399</span>
                                    </h4>
                                </div>
                            </div>

                            <div class = "best-product">
                                <div class = "image-container">
                                    <div class = "img-container">
                                        <img src="https://img.youpin.mi-img.com/800_pic/6586319f34a360c88e764611fddb31bb.png">
                                    </div>
                                    <p>小巧便携，长久续航，防水设计</p>
                                    <h5>索尼 SRS-XB10无线蓝牙音箱</h5>
                                    <h4>
                                        <span class = "dollar">￥</span>
                                        <span class = "price">399</span>
                                    </h4>
                                </div>
                            </div>

                            <div class = "best-product">
                                <div class = "image-container">
                                    <div class = "img-container">
                                        <img src="https://img.youpin.mi-img.com/800_pic/9b72eeb1d1cd146cc3d03e9ef86a8ac8.png">
                                    </div>
                                    <p>小巧便携，长久续航，防水设计</p>
                                    <h5>索尼 SRS-XB10无线蓝牙音箱</h5>
                                    <h4>
                                        <span class = "dollar">￥</span>
                                        <span class = "price">399</span>
                                    </h4>
                                </div>
                            </div>

                            <div class = "best-product">
                                <div class = "image-container">
                                    <div class = "img-container">
                                        <img src="https://img.youpin.mi-img.com/800_pic/9b72eeb1d1cd146cc3d03e9ef86a8ac8.png">
                                    </div>
                                    <p>小巧便携，长久续航，防水设计</p>
                                    <h5>索尼 SRS-XB10无线蓝牙音箱</h5>
                                    <h4>
                                        <span class = "dollar">￥</span>
                                        <span class = "price">399</span>
                                    </h4>
                                </div>
                            </div>

                            <div class = "best-product">
                                <div class = "image-container">
                                    <div class = "img-container">
                                        <img src="https://img.youpin.mi-img.com/800_pic/9b72eeb1d1cd146cc3d03e9ef86a8ac8.png">
                                    </div>
                                    <p>小巧便携，长久续航，防水设计</p>
                                    <h5>索尼 SRS-XB10无线蓝牙音箱</h5>
                                    <h4>
                                        <span class = "dollar">￥</span>
                                        <span class = "price">399</span>
                                    </h4>
                                </div>
                            </div>

                            <div class = "best-product">
                                <div class = "image-container">
                                    <div class = "img-container">
                                        <img src="https://img.youpin.mi-img.com/800_pic/9b72eeb1d1cd146cc3d03e9ef86a8ac8.png">
                                    </div>
                                    <p>小巧便携，长久续航，防水设计</p>
                                    <h5>索尼 SRS-XB10无线蓝牙音箱</h5>
                                    <h4>
                                        <span class = "dollar">￥</span>
                                        <span class = "price">399</span>
                                    </h4>
                                </div>
                            </div>

                            <div class = "best-product">
                                <div class = "image-container">
                                    <div class = "img-container">
                                        <img src="https://img.youpin.mi-img.com/800_pic/9b72eeb1d1cd146cc3d03e9ef86a8ac8.png">
                                    </div>
                                    <p>小巧便携，长久续航，防水设计</p>
                                    <h5>索尼 SRS-XB10无线蓝牙音箱</h5>
                                    <h4>
                                        <span class = "dollar">￥</span>
                                        <span class = "price">399</span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> 
    </div>




































    

    <div class = "fixe">
        <ul class = "fixe-nav">
            <li>
                <a href="#" class = "icons contact"></a>
                <p class = "text">联系客服</p>
                </li>
            <li>
                <a href="#" class = "icons download"></a>
                <p class = "text">下载  APP</p>
                </li>
            <li>
                <a href="#" class = "icons gift"></a>
                <p class = "text">新人有礼</p>
                </li>
            <li>
                <a href="#" class = "icons wx-chat"></a>
                <p class = "text">关注微信</p>
                </li>
            <li>
                <a href="#" class = "icons top"></a>
                <p class = "text">回到顶部</p>
                </li>
        </ul>
    </div>
            
    <div class = "footer clear">
        <div class = "margin">
            <div class = "logo">
                <img src="../images/logo.png">
            </div>

            <div class = "text-box margin clear">
                <div class = "box-r">
                    <a href="#">
                        <img src="../images/f-logo.png">
                    </a>
            </div>
            <div class = "box-c">
                <p class = "footer-items">
                    ©xiaomiyoupin.com苏B2-20180351 苏ICP备18025642号-1
                    <img src="../images/record.png">苏公网安备 32010502010244号
                </p>
                <p class = "footer-items">
                    企业名称：有品信息科技有限公司 关于我们  入驻有品
                </p>
                <p>
                    小米有品平台运营主体变更公告
                </p>
                <p>
                    南京市建邺区白龙江东街8号3栋9层
                </p>
            </div>
        </div>
    </div>
    
    

</body>
</html>