<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/index.css">

</head>

<body>
    <div id="top">
        <div class="margin clear">
            <ul>
                <li><a href="login.html">登陆</a>  <a href="register.html">注册</a><span>|</span></li>
                <li><a href="#">帮助中心</a><span>|</span></li>
                <li><a href="#"><span class = "icons icons-app"></span>下载App</a><span>|</span></li>
                <li><a href="#" class = "otop">资质证照 / 协议规则<span class = "icons change"></span></a></li>
                <div class = "obox">
                    <p>资质证照</p>
                    <p>协议规则</p>
                </div>
            </ul>
        </div>
    </div>

    <div id="header">
        <div class = "margin clear">
            <div class="logo"></div>
            <ul>
                <li><a href="#">限时抢购</a></li>
                <li><a href="#">星品驾到</a></li>
            </ul>
            <div class="search">
                <a href="#" class="icons icons-search"></a>
                <input type="text" class="search-input" placeholder="有品心动卡" />
            </div>
            <div class = "car">
                <a href="shop.html" class=" icons icons-car"></a>
            </div>
        </div>
    </div>

    <div id="banner" class="margin clear">
        <div class="banner-nav  enter">
                
            <ul class = "first">
                <li class = "none">
                    <a href="#">有品推荐</a>
                    <span>/</span>
                    <a href="#">家用电器</a>
                </li>
                <li class = "none">
                    <a href="#">智能家庭</a>
                    <span>/</span>
                    <a href="#">电视影音</a>
                </li>
                <li class = "none">
                    <a href="#">家具家装</a>
                    <span>/</span>
                    <a href="#">居家餐厨</a>
                </li>
                <li class = "none">
                    <a href="#">运动户外</a>
                    <span>/</span>
                    <a href="#">出行车品</a>
                </li>
                <li class = "none">
                    <a href="#">手机电脑</a>
                    <span>/</span>
                    <a href="#">数码配件</a>
                </li>
                <li class = "none">
                    <a href="#">服装服饰</a>
                    <span>/</span>
                    <a href="#">鞋靴箱包</a>
                </li>
                <li class = "none">
                    <a href="#">日用文创</a>
                    <span>/</span>
                    <a href="#">美食酒饮</a>
                </li>
                <li class = "none">
                    <a href="#">美妆个护</a>
                    <span>/</span>
                    <a href="#">医疗健康</a>
                </li>
                <li class = "none">
                    <a href="#">母婴亲子</a>
                    <span>/</span>
                    <a href="#">宠物生活</a>
                </li>
            </ul>
            <div class = "nav-list show">

                <div class = "classify">
                    <p>运动户外</p>
                    <ul class = "main">
                        
                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>
                    </ul>
                </div>

                <div class = "classify">
                    <p>运动户外</p>
                    <ul class = "main">
                        
                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>

                        <li>
                            <img src="../images/er.png">
                            <span>销量榜单</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="banner1 box">
            <div class="imgbox">
                <a><img src="https://img.youpin.mi-img.com/youpinoper/f3c85182816c8e38083923b7c0537242.jpg?id=&w=1080&h=450" alt=""></a>
                <a><img src="https://img.youpin.mi-img.com/youpinoper/f6a64e35f9bba1c8b988cf71ea170da9.jpg?id=&w=1080&h=450" alt=""></a>
                <a><img src="https://img.youpin.mi-img.com/youpinoper/e95a1abf781b78b0899f024538ef9f6c.jpg?id=&w=1080&h=450" alt=""></a>
                <a><img src="https://img.youpin.mi-img.com/youpinoper/369dd2d0f7892342659c1593ca8ad3b2.jpg?id=&w=1080&h=450" alt=""></a>
                <a><img src="https://img.youpin.mi-img.com/youpinoper/ac812bc662640055eae1dd9c60bc56c9.jpg?id=&w=1080&h=450" alt=""></a>
            </div>
            <div class="btn">
                <input type="button" id="left" value="<">
                <input type="button" id="right" value=">">
            </div>
        </div>
    </div>


    <div id="container" class="margin clear">
        <ul>
            <li>
                <img src="../images/fs.png">
                <p><a href="list.html">每日新品</a></p>
            </li>
            <li>
                <img src="../images/car.png">
                <p>小米众筹</p>
            </li>
            <li>
                <img src="../images/yz.png">
                <p>限时抢购</p>
            </li>
            <li>
                <img src="../images/zzj.png">
                <p>热销榜单</p>
            </li>
            <li>
                <img src="../images/bz.png">
                <p>随便逛逛</p>
            </li>
        </ul>
    </div>

    <div id="recommend" class="margin clear">
        <div class="main-t">
            <h2>有品推荐<span>为您甄选 悦心购买</span></h2>
        </div>
        <div class="main-bottom">
            <ul>
                <li class="no-ml">
                    <img src="../images/xyj.png" class="img">
                    <div class="txt">
                        <p class="info">假期电器城</p>
                        <p class="desc">厨房单品最高直降1000</p>
                    </div>
                </li>
                <li>
                    <img src="../images/xyj.png" class="img">
                    <div class="txt">
                        <p class="info">假期电器城</p>
                        <p class="desc">厨房单品最高直降1000</p>
                    </div>
                </li>
                <li>
                    <img src="../images/xyj.png" class="img">
                    <div class="txt">
                        <p class="info">假期电器城</p>
                        <p class="desc">厨房单品最高直降1000</p>
                    </div>
                </li>
                <li>
                    <img src="../images/xyj.png" class="img">
                    <div class="txt">
                        <p class="info">假期电器城</p>
                        <p class="desc">厨房单品最高直降1000</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="section" class="margin clear">
        <div class="sec-top">
            <h2>有品推荐<span>为您甄选 悦心购买</span></h2>

        </div>
        <div class="main-bottom">
            <ul class = "clear">
                <li class="section-items-big">
                    <div class="good-items">
                        <img src="../images/xyj.png" class="img">
                        <div class="txt">
                            <p class="info">假期电器城</p>
                            <p class="desc">厨房单品最高直降1000</p>
                            <p class="price">
                                <span class="tag">￥</span>
                                <span class="price">111</span>
                            </p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="fl suppory">
                            <span class="sup-num">4459</span>人支持
                        </div>
                        <span class="progress-tag-con fl">
                            <span class="common-tag common-tag-text" style="background-color: rgb(246, 39, 0);">爆</span>
                        </span>
                        <div class="fr persent">
                            <div><span class="m-num">2229</span><span class="m-num-flag">%</span></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="good-items">
                        <img src="../images/xyj.png" class="img">
                        <div class="txt">
                            <p class="info">假期电器城</p>
                            <p class="price">
                                <span class="tag">￥</span>
                                <span class="price">111</span>
                            </p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="fl suppory">
                            <span class="sup-num">4459</span>人支持
                        </div>
                        <span class="progress-tag-con fl">
                            <span class="common-tag common-tag-text" style="background-color: rgb(246, 39, 0);">爆</span>
                        </span>
                        <div class="fr persent">
                            <div><span class="m-num">2229</span><span class="m-num-flag">%</span></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="good-items">
                        <img src="../images/xyj.png" class="img">
                        <div class="txt">
                            <p class="info">假期电器城</p>
                            <p class="price">
                                <span class="tag">￥</span>
                                <span class="price">111</span>
                            </p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="fl suppory">
                            <span class="sup-num">4459</span>人支持
                        </div>
                        <span class="progress-tag-con fl">
                            <span class="common-tag common-tag-text" style="background-color: rgb(246, 39, 0);">爆</span>
                        </span>
                        <div class="fr persent">
                            <div><span class="m-num">2229</span><span class="m-num-flag">%</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 每日新品 -->
    <div class = "new margin clear">
        <div class = "new-top">
            <h2>每日新品<span>每天10点 惊喜不断</span></h2>
            <span class = "more">更多></span>
        </div>
        
        <div class = "pro clear floor1">   
            <div class = "goods first">
                <div class = "small-img">
                    <img src="../images/product.jpg" >
                </div>
                <div class = "subTit">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <a href="datails.html">
                            <span class = "sub-unit">￥</span>
                            <span class = "sub-num">49</span>
                        </a>
                    </p>
                </div>
            </div>  
   
            <div class = "goods">
                <div class = "small-img">
                    <img src="../images/product.jpg" >
                </div>
                <div class = "subTit">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
  
            <div class = "goods clear">
                <div class = "small-img">
                    <img src="../images/product.jpg" >
                </div>
                <div class = "subTit">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  

            <div class = "goods clear">
                <div class = "small-img">
                    <img src="../images/product.jpg" >
                </div>
                <div class = "subTit">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
            <div class = "button-r icons button-r-hover"></div>
            <div class = "button-l icons button-l-hover"></div>
        </div>
    </div>

    <!-- 限时抢购 -->
    <div class = "time new margin clear floor2">
        
        <!-- class="new-top"调用这个class的属性，下面不用改 -->

        <div class = "new-top">
            <h2>限时购<span>每天10点 惊喜不断</span></h2>
            <span class = "more">更多></span>
        </div>
        
        <div class = "pro clear">   
            <div class = "goods first">
                <div class = "small-img">
                    <img src="../images/pro-one.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
   
            <div class = "goods">
                <div class = "small-img">
                    <img src="../images/pro-two.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
  
            <div class = "goods clear ">
                <div class = "small-img">
                    <img src="../images/product.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  

            <div class = "goods clear">
                <div class = "small-img">
                    <img src="../images/pro-two.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
            <div class = "button-r icons button-r-hover"></div>
            <div class = "button-l icons button-l-hover"></div>
        </div>
    </div>



    <!-- 热门 -->

    <div class = "hot new margin clear">
        <div class = "new-top">
            <h2>热门<span>每天10点 惊喜不断</span></h2>
            <span class = "more">更多></span>
        </div>
        
        <div class = "pro clear">   
            <div class = "goods first">
                <div class = "small-img">
                    <img src="../images/pro-one.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
   
            <div class = "goods">
                <div class = "small-img">
                    <img src="../images/pro-two.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
  
            <div class = "goods clear ">
                <div class = "small-img">
                    <img src="../images/product.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  

            <div class = "goods clear">
                <div class = "small-img">
                    <img src="../images/pro-two.jpg" >
                </div>
                <div class = "subTit color">
                    <p class = "sub-info">纯棉舒适休闲家居休闲短裤</p>
                    <p class = "sub-desc">精梳棉，舒适绵软，居家外穿两...</p>
                    <p class = "sub-price">
                        <span class = "sub-unit">￥</span>
                        <span class = "sub-num">49</span>
                    </p>
                </div>
            </div>  
            <div class = "button-r icons button-r-hover"></div>
            <div class = "button-l icons button-l-hover"></div>
        </div>
    </div>



    <!-- 专属推荐 --> 

   <div class = "product-list margin floor3">
        <div class = "new-top">
                <h2>专属推荐<span>每天10点 惊喜不断</span></h2>
                <span class = "more">更多></span>
            </div>

       <div class = "pro-category first">
           <div class = "category-img">
                <div class = "pro-tag">2色可选</div>
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
               <div class = "pro-text"></div>
               <p class = "pro-info">家居套装男款</p>
               <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

       <div class = "pro-category">
           <div class = "category-img">
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
               <div class = "pro-text">
                   <span class = "pro-text-tag">直降100</span>
                   <span class = "pro-text-tag">加价购</span>
               </div>
               <p class = "pro-info">家居套装男款</p>
               <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

       <div class = "pro-category">
           <div class = "category-img">
                <div class = "pro-tag">3色可选</div>
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
                <div class = "pro-text"></div>
               <p class = "pro-info">家居套装男款</p>
               <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

       <div class = "pro-category">
           <div class = "category-img">
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
                <div class = "pro-text"></div>
               <p class = "pro-info">家居套装男款</p>
               <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

       <div class = "pro-category">
           <div class = "category-img">
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
                <div class = "pro-text"></div>
               <p class = "pro-info">家居套装男款</p>
               <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

       <div class = "pro-category">
           <div class = "category-img">
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
                <div class = "pro-text"></div>
               <p class = "pro-info">家居套装男款</p>
               <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

       <div class = "pro-category">
           <div class = "category-img">
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
                <div class = "pro-text"></div>
                <p class = "pro-info">家居套装男款</p>
                <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

       <div class = "pro-category">
           <div class = "category-img">
               <img src="../images/product-one.png" >
               <p class = "pro-desc">宽松舒适，可居家可外穿，柔软...</p>
           </div>
           <div class = "category-box">
                <div class = "pro-text"></div>
                <p class = "pro-info">家居套装男款</p>
                <p class = "pro-price">
                   <span class = "unit">￥</span>
                   <span class = "num">89</span>
               </p>
           </div>
       </div>

   </div>

   <div class = "fixe">
       <ul class = "fixe-nav">
           <li class = "one">
               <a href="#" class = "icons contact"></a>
               <p class = "text">联系客服</p>
            </li>
            <div class = "box1">
                <p class = "info-title">小米有品平台问题，建议反馈，商户和物流问题投诉等请拨打 小米有品客服热线</p>
                <p class = "info-phone">400-100-1199</p>
                <p class = "info-day">(周一至周日 8：00-18：00)</p>
                <p class = "info-des">小米/米家自营品牌，手机电视智能硬件商品或订单发货/退款售后问题 请拨打小米自营客服热线</p>
                <p class = "info-phone">400-100-5678</p>
                <p class = "info-day">(周一至周日 8：00-18：00)</p>
            </div>
           <li class ="two">
               <a href="#" class = "icons download"></a>
               <p class = "text">下载  APP</p>
            </li>
            <div class = "box2">
                <img src="../images/code.png">
                <p class = "site-info">
                     下载小米有品APP
                     <br>
                     得新人礼包
                </p>
            </div>

           <li class = "three">
               <a href="#" class = "icons gift"></a>
               <p class = "text">新人有礼</p>
            </li>
            <div class = "box3">
                <div class = "gift-bg"></div>
                <img src="../images/code.png">
                <p class = "site-info">立即扫码下载·小米有品 APP</p>
            </div>
           <li class = "four">
               <a href="#" class = "icons wx-chat"></a>
               <p class = "text">关注微信</p>
            </li>
            <div class = "box4">
                <img src="../images/code.png">
                <p>扫码关注【小米有品生活电商】微信服务号，赢取小爱mini活动哦</p>
            </div>
           <li>
               <a href="#" class = "icons top"></a>
               <p class = "text">回到顶部</p>
            </li>
       </ul>
   </div>

<div class = "footer clear">
    <div class = "margin">
        <div class = "logo">
            <img src="../images/logo.png">
        </div>


        <div class = "text-box margin clear">
                <div class = "box-r">
                    <a href="#">
                        <img src="../images/f-logo.png">
                    </a>
                </div>
            <div class = "box-c">
                <p class = "footer-items">
                    ©xiaomiyoupin.com苏B2-20180351 苏ICP备18025642号-1
                    <img src="../images/record.png">苏公网安备 32010502010244号
                </p>
                <p class = "footer-items">
                    企业名称：有品信息科技有限公司 关于我们  入驻有品
                </p>
                <p>
                    小米有品平台运营主体变更公告
                </p>
                <p>
                    南京市建邺区白龙江东街8号3栋9层
                </p>
            </div>
            
        </div>
    </div>
</div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/practice.jquery.banner.1.0.js"></script>
<script src="../js/header.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/fixe.js"></script>


<script>
$(".banner1").banner({
        items:$(".banner1").children(".imgbox").children("a"),      //必选
        // 可选，左右按钮，不传，默认没有功能
        left:$(".banner1").find("#left"),
        right:$(".banner1").find("#right"),
        // // 可选，下标按钮，默认为true，false为不生成
        list:true,
        // // 可选，自动播放，默认为true，false为不自动播放
        autoPlay:true,
        // // 可选，每张的延迟时间，默认为2000
        delayTime:3000,
        // // 可选，每张图片的移动耗时，默认为200
        moveTime:1000
    })
</script>
</html>