<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/list.css">
</head>
<body>
        <div id="top">
                <div class="margin clear">
                    <ul>
                        <li><a href="login.html">登陆</a>  <a href="register.html">注册</a><span>|</span></li>
                        <li><a href="#">帮助中心</a><span>|</span></li>
                        <li><a href="#"><span class = "icons icons-app"></span>下载App</a><span>|</span></li>
                        <li><a href="#" class = "otop">资质证照 / 协议规则<span class = "icons change"></span></a></li>
                        <div class = "obox">
                            <p>资质证照</p>
                            <p>协议规则</p>
                        </div>
                    </ul>
                </div>
            </div>
        
            <div id="header">
                <div class = "margin clear">
                    <div class="logo"></div>
                    <ul>
                        <li><a href="#">限时抢购</a></li>
                        <li><a href="#">星品驾到</a></li>
                    </ul>
                    <div class="search">
                        <a href="#" class="icons icons-search"></a>
                        <input type="text" class="search-input" placeholder="有品心动卡" />
                    </div>
                    <div class = "car">
                        <a href="#" class=" icons icons-car"></a>
                    </div>
                </div>
            </div>

    <div class = "product-box">
        <div class = "search-title margin clear">
                <a href="index.html">首页</a>
                <a href="shop.html">去购物车</a>
        </div>
        <div class = "product-list margin clear" id = "list">
            <div class = "margin">
                <!-- <div class = "product-items tag" index = "">
                    <img src="../images/iphone.png" class = "images">
                    <p class = "info">Redmi 7</p>
                    <p class = "price">
                        <span class = "unit">￥</span>
                        <span class = "num">89</span>
                        <em class = "add">加入购物车</em>
                    </p>
                </div>

                <div class = "product-items tag">
                    <div class = "product-img">
                        <img src="../images/iphone1.png" class = "images">
                    </div>
                    <p class = "info">Redmi 7</p>
                    <p class = "price">
                        <span class = "unit">￥</span>
                        <span class = "num">89</span>
                        <em class = "add">加入购物车</em>
                    </p>
                </div> -->
            
            </div>
        </div>
    </div>

    <div class = "fixe">
            <ul class = "fixe-nav">
                <li class = "one">
                    <a href="#" class = "icons contact"></a>
                    <p class = "text">联系客服</p>
                 </li>
                 <div class = "box1">
                     <p class = "info-title">小米有品平台问题，建议反馈，商户和物流问题投诉等请拨打 小米有品客服热线</p>
                     <p class = "info-phone">400-100-1199</p>
                     <p class = "info-day">(周一至周日 8：00-18：00)</p>
                     <p class = "info-des">小米/米家自营品牌，手机电视智能硬件商品或订单发货/退款售后问题 请拨打小米自营客服热线</p>
                     <p class = "info-phone">400-100-5678</p>
                     <p class = "info-day">(周一至周日 8：00-18：00)</p>
                 </div>
                <li class ="two">
                    <a href="#" class = "icons download"></a>
                    <p class = "text">下载  APP</p>
                 </li>
                 <div class = "box2">
                     <img src="../images/code.png">
                     <p class = "site-info">
                          下载小米有品APP
                          <br>
                          得新人礼包
                     </p>
                 </div>
     
                <li class = "three">
                    <a href="#" class = "icons gift"></a>
                    <p class = "text">新人有礼</p>
                 </li>
                 <div class = "box3">
                     <div class = "gift-bg"></div>
                     <img src="../images/code.png">
                     <p class = "site-info">立即扫码下载·小米有品 APP</p>
                 </div>
                <li class = "four">
                    <a href="#" class = "icons wx-chat"></a>
                    <p class = "text">关注微信</p>
                 </li>
                 <div class = "box4">
                     <img src="../images/code.png">
                     <p>扫码关注【小米有品生活电商】微信服务号，赢取小爱mini活动哦</p>
                 </div>
                <li>
                    <a href="#" class = "icons top"></a>
                    <p class = "text">回到顶部</p>
                 </li>
            </ul>
        </div>
     
     <div class = "footer clear">
         <div class = "margin">
             <div class = "logo">
                 <img src="../images/logo.png">
             </div>
     
     
             <div class = "text-box margin clear">
                     <div class = "box-r">
                         <a href="#">
                             <img src="../images/f-logo.png">
                         </a>
                     </div>
                 <div class = "box-c">
                     <p class = "footer-items">
                         ©xiaomiyoupin.com苏B2-20180351 苏ICP备18025642号-1
                         <img src="../images/record.png">苏公网安备 32010502010244号
                     </p>
                     <p class = "footer-items">
                         企业名称：有品信息科技有限公司 关于我们  入驻有品
                     </p>
                     <p>
                         小米有品平台运营主体变更公告
                     </p>
                     <p>
                         南京市建邺区白龙江东街8号3栋9层
                     </p>
                 </div>
                 
             </div>
         </div>
     </div>




</body>
<script src="../js/header.js"></script>
<script src="../js/fixe.js"></script>

<script src="../js/ajax.2.0.js"></script>
<script src="../js/cookie.js"></script>
<script src="../js/list.js"></script>
<script src="../js/goods.js"></script>


</html>