<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div class="layout">
        <div class="margin clear">
            <div class="lgnheader">
                <div class="header">
                    <div class="logo">
                        <img src="../images/mi.PNG">  
                    </div>
                    <h4 class="account">小米账号注册</h4> 
                    <div class = "site"></div>  
                </div>

                <div class = "tabs">
                    <div class = "login_area">
                        <div class = "login-box">
                            <div class = "login">
                                <p class = "p">手机号</p>
                                <form>
                                    <input type="text" class = "txt user" placeholder="请输入手机号码">
                                    <p class = "p" style="margin-top:20px;">密码</p>
                                    <input type="password" class = "pass" placeholder="请设置密码">
                                </form>
                               
                            </div>
                            <div class = "btns">
                                <input type="button" class = "btn-lg" id="btn" value = "立即注册">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class = "footer">
            <div class = "nf-link">
                <ul class = "select-list">
                    <li><a href="#">简体 | </a></li> 
                    <li><a href="#">繁体 | </a></li> 
                    <li><a href="#">English | </a></li> 
                    <li><a href="#">常见问题 | </a></li> 
                    <li><a href="#">隐私政策</a></li> 
                </ul>
            </div>
            <p class = "intro">小米公司版权所有-京ICP备10046444-
                <a href="#"><span><img src="../images/ghs.png"></span>京公网安备11010802020134号</a>
                -京ICP证110507号
            </p>
        </div>
    </div>  
</body>
<script src="../js/jquery.js"></script>
<script src="../js/register.js"></script>
</html>